/* Utility */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.clearfix{
    display: table;
    content: "";
    clear: both;
}
/* /Utility */
.container{
    width: 90%;
    background-color: cyan;
    margin: auto;
}
.logo{
    height: 100px;
    background-color: black;
}
header{
    height: 600px;
    background-color: darkgreen;
}
h1{
    background-color: blueviolet;
}
.main_content{
    width: 100%;
}
aside , main{
    height: 500px;
    float: left;
}
aside{
    width: 25%;
    background-color: crimson;
}
main{
    width: 50%;
    background-color: darksalmon;
}